<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내누리</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/introduce.css">
    <script src="js/ie.js"></script>
</head>

<body>

    <header>
        <div class="inner">
            <h1><a href="index">내누리</a></h1>

            <ul id="gnb">
                <li><a href="introduce">회사소개</a></li>
                <li><a href="map">지도검색</a></li>
                <li><a href="#">시설정보</a></li>
                <li><a href="#">시설후기</a></li>
            </ul>

            <ul class="util">
                <li><a href="#">문의하기</a></li>
                <li><a href="login">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">사이트맵</a></li>
            </ul>
        </div>
    </header>
    <section class = "logo">
        <article>
            <div class="pic">
                <img src="img/logo.jpg" alt="위치로 요양시설 검색" style = "width : 70%; margin-left : 300px; margin-top : 100px">
            </div>
        </article>
    </section>

    <section class = "introduce" style ="width : 70%; margin-right : 300px; margin-top : 100px" >
        <div class = "intro">
            <p>저희 내누리는 고령화 속도 1위인 대한민국에 더이상 노인 돌봄 문제가 가정 내의 문제가 아니라 국가적, 전 세계적 문제라는 점을 모두에게 일깨우고자 합니다. 뿐만 아니라 이에 대해 노인과 그 보호자들에게 보다 편리한 서비스를 제공하기 위하여 노인 요양시설 매칭 플랫폼을 제공합니다.
                내누리 서비스를 통해 거주지와 가까운 곳에 위치한 노인 요양시설을 알아보고 이용자들의 후기 및 시설 정보 등을 확인하여 본인에게 맞는 요양시설을 선택하실 수 있길 바랍니다. 또한 커뮤니티 서비스를 통해 비슷한 상황의 사람들과 유용한 정보를 공유한다면 더이상 무분별한 정보에 의한 인터넷 서치의 어려움을 겪지 않아도 될 것입니다.
            </p>
        </div>
    </section>


    <footer>
        <div class="inner">
            <div class="upper">
                <h1>DCODELAB</h1>
                <ul>
                    <li><a href="#">Policy</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Family Site</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>

            <div class="lower">
                <address>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, facere.<br>
                    TEL : 031-111-1234 C.P : 010-1234-5678
                </address>
                <p>
                    2020 DOCDELAB &copy; copyright all right reserved.
                </p>
            </div>
        </div>
    </footer>
    </body>
    </html>