<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>내누리</title>
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <script src="https://kit.fontawesome.com/c47106c6a7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/login.css">
        <script src="js/ie.js"></script>
    </head>
    <body>

        <header>
            <div class="inner">
                <h1><a href="index">내누리</a></h1>
    
                <ul id="gnb">
                    <li><a href="introduce">회사소개</a></li>
                    <li><a href="map">지도검색</a></li>
                    <li><a href="#">시설정보</a></li>
                    <li><a href="#">시설후기</a></li>
                </ul>
    
                <ul class="util">
                    <li><a href="#">문의하기</a></li>
                    <li><a href="login">로그인</a></li>
                    <li><a href="#">회원가입</a></li>
                    <li><a href="#">사이트맵</a></li>
                </ul>
            </div>
        </header>
    
        
        <nav>
    
            <img src="img/01.jpg"style="width: 2050px; height: 800px;" ></img>    
            <div style="position: relative;">
    
                <img src="./images/back_image.jpg">
                
                <div style="left: 100px; width: 450px; bottom: 100px; font-size: 5em; font-weight: bold; position: absolute;">
                내누리
                </div>
                <div style="left: 100px; width: 450px; bottom: 80px; font-size: 1em; font-weight: bold; position: absolute;">
                    노인 요양 시설 및 돌보미 매칭 플랫폼
                    </div>
                
                </div>
        </nav>
        
    
        <section>
            <div class="wrap">
                <div class="login">
                    <h2>MEMBER LOGIN</h2>
                    <div class="login_id">
                        <h4>E-mail</h4>
                        <input type="email" name="" id="" placeholder="Email" >
                    </div>
                    <div class="login_pw">
                        <h4>Password</h4>
                        <input type="password" name="" id="" placeholder="Password">
                    </div>
                    <div class="login_etc">
                        <div class="checkbox">
                        <input type="checkbox" name="" id=""> 로그인 상태 유지
                        </div>
                        <div class="forgot_pw">
                        <a href="">비밀번호 찾기</a>
                    </div>
                    </div>
                    <div class="submit">
                        <input type="submit" value="LOGIN">
                    </div>
                </div>
            </div>
        </section>
    
        <footer>
            <div class="inner">
                <div class="upper">
                    <h1>DCODELAB</h1>
                    <ul>
                        <li><a href="#">Policy</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Family Site</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
    
                <div class="lower">
                    <address>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, facere.<br>
                        TEL : 031-111-1234 C.P : 010-1234-5678
                    </address>
                    <p>
                        2020 DOCDELAB &copy; copyright all right reserved.
                    </p>
                </div>
            </div>
        </footer>
    
    
    
    
    </body>
    
    </html>